
<div class="ret">


<div class="a"> 
    {{user.summonerName}}
</div>
<div class="b"> 
    <span class="b-1">{{user.tier}} {{user.rank}}</span>
    <span class="b-2">{{user.leaguePoints}}</span> point
</div>
<div class="ttt"> 
    <span class="c">{{all}} </span>  games 
</div>
<div >
    <span class="c">{{user.wins}}</span>승 <span class="c">{{user.losses}}</span>패
</div>

</div>